.top, .middel, .bottom{
  transition: all .3s linear;
}
.top-active{
  transform: rotate(45deg) translateY(12px);
}
.bottom-active{
  transform: rotate(-45deg) translateY(-10px);
}
.middel-active{
  opacity: 0;
}
.hero-me{
  filter: grayscale(80%);
}
.cursor{
  inset: 0;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(3px);
  pointer-events: none;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 15px;
  height: 15px;
  background-color: rgb(37, 34, 34);
  border-radius: 500px;
  /* border: 1px solid gray; */
  transform-origin: 100% 100%;
  display: none;
}
.cursor-grow{
  transform: scale(2.5);
  background-color: black;
  border: none;
}
.mobile-menu{
  transition: .7s linear ease-in-out;
  transform-origin: top;
}

.hero-text{
  animation: fadeIn .7s linear forwards;
}
.normal-text{
  animation: fadeIn .7s linear forwards;
  animation-delay: .2s;
}
.normal-text2{
  animation: fadeIn .7s linear forwards;
  animation-delay: .3s;
}
.normal-text3{
  animation: fadeIn .7s linear forwards;
  animation-delay: .4s;
}
/* animations */
@keyframes fadeIn{
  0%{
    filter: blur(10px);
    transform: translateY(30px);
  }
  100%{
    filter: blur(0);
    transform: translateY(0px);
  }
}